//header-media
$headerBP1: 1700px;
$headerBP2: 1300px;
$headerBP3: 900px;
$headerBP4: 600px;

//hero-media
$heroBP1: 1700px;
$heroBP2: 1200px;
$heroBP3: 950px;
$heroBP4: 700px;
$heroBP5: 500px;
$heroBP6: 400px;

//main-media 
$mainBP1: 1700px;
$mainBP2: 900px;
$mainBP3: 700px;
$mainBP4: 500px;
